{% extends 'inicio/encabezado.html' %}
{% block titulo %} Principal{% endblock %}

{% block contenido %}
<div class="principal">

    <h1>CURSOS REGISTRADOS</h1>
        
    <p>Estos son los cursos registrados</p>   

    <!-- Tabla de Alumnos -->
    <table class="table table-bordered tablestriped mt-4">   
        <thead>
            <tr class="principal">
                <th>Foto</th>
                <th>Nombre del Alumno</th>
                <th>Email</th>
                <th>Nombre del Curso</th>
                <th>Detalles</th>
                <th>Fecha</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead> 
        
        <tbody>
            {% for curso in cursos %}   
                <tr>
                    <td class="text-center">
                        <img src="{{curso.imagen.url}}" alt="" width="120px" height="50px" class="img-media" >
                    </td>
                    <td class="text-semibold">{{curso.nombre}}</td>
                    <td class="muted">{{curso.email}}</td>
                    <td class="muted">{{curso.curso}}</td>
                    <td class="muted">{{curso.tiempo}}</td>
                    <td class="muted">{{curso.fecha}}</td>
                    <td class="text-center">
                        <a href="{%url 'Editar' curso.i%}">Editar</a>
                    </td>
                    <td class="text-center">
                        <a href="{%url 'Eliminar' curso.i%}">Eliminar</a>
                    </td>
                    
                </tr>
            {% endfor%}
        </tbody>
    </table>
    <!-- /Tabla de alumnos -->

</div>
{% endblock %}