{% extends "inicio/encabezado.html" %}

{% block titulo %} Cursos {% endblock %}

{% block contenido %}
<!-- Contenido Principal-->
<div class="page-content">
<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
      <h2>Cursos</h2>
      <h3>Lista de cursos</h3>
  </div>

  
  
</div>
<!-- /Encabezado-->

<!-- Formulario -->
<form class="form-horizontal" action="#" role="form">
    
        <select data-placeholder="Elige un curso..." class="select" tabindex="2">
                          <option value=""></option> 
                          <option value="win7">Base de Dato</option> 
                          <option value="win8">Programacion</option> 
                          <option value="macos">Matematicas</option>
                          <option value="macos">Ingles</option> 
                          <option value="macos">Desarrollo web integral</option>  
                    </select>
   
  </form>
  <!-- Fin del Formulario -->
  </div>
  <!-- /Contenido Principal-->
  {%endblock%}